<p id="notice"><%= notice %></p>

<h1>User Agents</h1>

<p><%= link_to 'Homepage', root_path %></p>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_agents.each do |user_agent| %>
      <tr>
        <td><%= user_agent.name %></td>
        <td><%= link_to 'Show', user_agent %></td>
        <td><%= link_to 'Edit', edit_user_agent_path(user_agent) %></td>
        <td><%= link_to 'Destroy', user_agent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>

<br>

<%= link_to 'New User Agent', new_user_agent_path %>
