<h1>Website Crawler</h1>

<p><%= link_to 'News', news_index_path %></p>
<p><%= link_to 'Pages', pages_path %></p>
<p><%= link_to 'Urls', urls_path %></p>
<p><%= link_to 'UrlPatterns', url_patterns_path %></p>
<p><%= link_to 'User Agents', user_agents_path %></p>
